div.Home{
    >div{
       width:100%;
        text-align: left;
        font-size: 20px;
        margin:20px;
    }
    form{
        text-align: center;
        >div.fields{
            text-align: center;
        }
        button{
            height:100%;
        }
    }
}